# XML example and exercise
****
+ study examples of accessing nodes in XML tree structure  
+ work on exercise to be completed and submitted
****
+ reference: https://docs.python.org/2.7/library/xml.etree.elementtree.html
+ data source: http://www.dbis.informatik.uni-goettingen.de/Mondial
****

In [6]:
import pandas as pd
from xml.etree import ElementTree as ET

## XML example

+ for details about tree traversal and iterators, see https://docs.python.org/2.7/library/xml.etree.elementtree.html

In [2]:
document_tree = ET.parse( './data/mondial_database_less.xml' )

In [3]:
# print names of all countries
for child in document_tree.getroot():
    print child.find('name').text

Albania
Greece
Macedonia
Serbia
Montenegro
Kosovo
Andorra

In [4]:
# print names of all countries and their cities
for element in document_tree.iterfind('country'):
    print '* ' + element.find('name').text + ':',
    capitals_string = ''
    for subelement in element.getiterator('city'):
        capitals_string += subelement.find('name').text + ', '
    print capitals_string[:-2]

* Albania: Tirana, Shkodër, Durrës, Vlorë, Elbasan, Korçë
* Greece: Komotini, Kavala, Athina, Peiraias, Peristeri, Acharnes, Patra, Kozani, Kerkyra, Ioannina, Thessaloniki, Iraklio, Chania, Ermoupoli, Rhodes, Tripoli, Lamia, Chalkida, Larissa, Volos, Mytilini, Karyes
* Macedonia: Skopje, Kumanovo
* Serbia: Beograd, Novi Sad, Niš
* Montenegro: Podgorica
* Kosovo: Prishtine
* Andorra: Andorra la Vella

****
## XML exercise

Using data in 'data/mondial_database.xml', the examples above, and refering to https://docs.python.org/2.7/library/xml.etree.elementtree.html, find

1. 10 countries with the lowest infant mortality rates
2. 10 cities with the largest population
3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)
4. name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [51]:
document = ET.parse( './data/mondial_database.xml' )

In [58]:
# 1. 10 countries with the lowest infant mortality rates

# convert xml to pandas dataframe for easier processing
def parse_countries_to_df(countries):
    for country in countries:
        country_dict = {}
        country_dict['name'] = country.find('name').text
        if country.find('infant_mortality') is not None:
            country_dict['infant_mortality'] = country.find('infant_mortality').text
        
        yield country_dict
        
countries = document_root.findall('country')
countries_df = pd.DataFrame(list(parse_countries_to_df(countries)))

countries_df

    infant_mortality                    name
0              13.19                 Albania
1               4.78                  Greece
2                7.9               Macedonia
3               6.16                  Serbia
4                NaN              Montenegro
5                NaN                  Kosovo
6               3.69                 Andorra
7               3.31                  France
8               3.33                   Spain
9               4.16                 Austria
10              2.63          Czech Republic
11              3.46                 Germany
12              5.09                 Hungary
13              3.31                   Italy
14              4.33           Liechtenstein
15              5.35                Slovakia
16              4.04                Slovenia
17              3.73             Switzerland
18              3.64                 Belarus
19              7.91                  Latvia
20                 6               Lithuania
21              6.19                  Poland
22               8.1                 Ukraine
23              7.08                  Russia
24              4.18                 Belgium
25              4.28              Luxembourg
26              3.66             Netherlands
27              5.84  Bosnia and Herzegovina
28              5.87                 Croatia
29             15.08                Bulgaria
..               ...                     ...
214             90.3                    Chad
215            71.12       Equatorial Guinea
216            47.03                   Gabon
217            24.28              Cape Verde
218            52.86                   Sudan
219            68.16             South Sudan
220            65.31                 Comoros
221            55.24                  Guinea
222            69.19                 Liberia
223             50.2                Djibouti
224            38.44                 Eritrea
225            55.77                Ethiopia
226           100.14                 Somalia
227            40.71                   Kenya
228            65.74                  Gambia
229            52.72                 Senegal
230            90.92           Guinea-Bissau
231            73.29            Sierra Leone
232            60.82                  Uganda
233            50.48                 Lesotho
234            44.88              Madagascar
235            48.01                  Malawi
236            72.42              Mozambique
237            10.59               Mauritius
238            56.29                 Mayotte
239            54.82               Swaziland
240              7.5                 Reunion
241            17.63            Saint Helena
242            49.16   Sao Tome and Principe
243            10.77              Seychelles

[244 rows x 2 columns]

In [69]:
# convert infant_mortality column to floats
countries_df['infant_mortality'] = countries_df['infant_mortality'].apply(pd.to_numeric)

# sort
sorted_countries = countries_df.sort_values('infant_mortality')

# result
sorted_countries[['name','infant_mortality']].head(10)

               name  infant_mortality
38           Monaco              1.81
98            Japan              2.13
117         Bermuda              2.48
36           Norway              2.48
106       Singapore              2.53
37           Sweden              2.60
10   Czech Republic              2.63
78        Hong Kong              2.73
79            Macao              3.13
44          Iceland              3.15

In [120]:
# 10 cities with the largest population

def get_item_latest_population(item): # item can be either city or country
    populations = item.findall('population')
    populationsCount = len(populations) 
        
    if populationsCount > 0:
        return populations[populationsCount - 1].text
    else:
        return 0
            
def parse_cities_to_df(cities):
    for city in cities:
        city_dict = {}
        city_dict['name'] = city.find('name').text
        city_dict['population'] = get_item_latest_population(city)
        yield city_dict

cities = document_root.findall('country/city')
cities_df = pd.DataFrame(list(parse_cities_to_df(cities)))

cities_df

                 name population
0              Tirana     418495
1             Shkodër      77075
2              Durrës     113249
3               Vlorë      79513
4             Elbasan      78703
5               Korçë      51152
6              Skopje     514967
7            Kumanovo     107745
8             Beograd    1639121
9            Novi Sad     335701
10                Niš     257867
11          Podgorica     150977
12          Prishtine     198214
13   Andorra la Vella      22256
14              Vaduz       5241
15          Ljubljana     282994
16            Maribor     111374
17               Rīga     696618
18            Vilnius     538747
19             Kaunas     307498
20           Klaipeda     158891
21         Luxembourg      99852
22             Zagreb     686568
23              Split     165893
24             Rijeka     127498
25             Osijek      83496
26              Zadar      70674
27              Sofia    1270284
28            Plovdiv     331796
29              Varna     330486
..                ...        ...
400           Malindi     118265
401          Machakos     150041
402           Nairobi    3133518
403            Kisumu     388311
404            Nakuru     307990
405           Eldoret     289380
406            Banjul     357238
407            Bissau          0
408          Freetown     772873
409                Bo     149957
410           Kampala    1516210
411           Mbarara     195013
412            Mukono     161996
413            Maseru     227880
414       Antsiranana      59040
415      Antananarivo     710236
416         Antsirabe     126062
417      Fianarantsoa     109260
418           Majunga     106780
419          Tamatave     137782
420           Toliara      80826
421          Lilongwe     674448
422          Blantyre     661256
423        Port Louis          0
424         Mamoutzou          0
425           Mbabane      57992
426       Saint-Denis     145347
427         Jamestown          0
428          São Tomé      49957
429          Victoria      24970

[430 rows x 2 columns]

In [121]:
# convert population column to floats
cities_df['population'] = cities_df['population'].apply(pd.to_numeric)

# sort
sorted_cities = cities_df.sort_values('population', ascending=False)

# result
sorted_cities[['name','population']].head(10)

                name  population
176            Seoul     9708483
164       Al Qahirah     8471859
80           Bangkok     7506700
128        Hong Kong     7055071
92       Ho Chi Minh     5968384
212        Singapore     5076700
163  Al Iskandariyah     4123869
216       New Taipei     3939305
177            Busan     3403135
107        Pyongyang     3255288

In [ ]:
# 3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)

In [175]:
def get_group_percentage(group):
    return float(group.attrib['percentage'])

def get_group_population(group, country_population):
    return (get_group_percentage(group) / 100) * country_population
    
def create_group(group, country):
    country_population = float(get_latest_population(country))
    
    group_dict = {}
    group_dict['group'] = group.text
    group_dict['country'] = country.find('name').text
    group_dict['population'] = get_group_population(group, country_population)
    return group_dict
    
def get_country_groups(country):
    groups_list = []
    
    groups = country.findall('ethnicgroup')
    
    if len(groups) > 0:
        for group in groups:
            groups_list.append(create_group(group, country))
    
    return groups_list

def get_countries_groups(countries):
    groups = []
    for country in countries:
        groups += get_country_groups(country)
    
    return groups
    
countries = document_root.findall('country')
groups_df = pd.DataFrame(list(get_countries_groups(countries)))
groups_df

                   country                 group    population
0                  Albania              Albanian  2.660131e+06
1                  Albania                 Greek  8.400414e+04
2                   Greece                 Greek  1.005915e+07
3                Macedonia            Macedonian  1.322388e+06
4                Macedonia              Albanian  5.190681e+05
5                Macedonia               Turkish  8.033197e+04
6                Macedonia                 Gypsy  5.561444e+04
7                Macedonia                  Serb  3.707629e+04
8                   Serbia                  Serb  5.903032e+06
9                   Serbia           Montenegrin  6.408599e+04
10                  Serbia             Hungarian  2.777060e+05
11                  Serbia                  Roma  9.968932e+04
12                  Serbia               Bosniak  1.281720e+05
13                  Serbia                 Croat  7.832733e+04
14              Montenegro           Montenegrin  2.666125e+05
15              Montenegro                  Serb  1.984093e+05
16              Montenegro               Bosniak  4.960232e+04
17              Montenegro              Albanian  3.100145e+04
18                  Kosovo              Albanian  1.595162e+06
19                  Kosovo               Serbian  8.669360e+04
20                 Andorra               Spanish  3.358945e+04
21                 Andorra              Andorran  2.577795e+04
22                 Andorra            Portuguese  8.592650e+03
23                 Andorra                French  1.562300e+03
24                 Andorra               African  3.905750e+03
25                   Spain  Mediterranean Nordic  4.681592e+07
26                 Austria              Austrian  7.743280e+06
27                 Austria               Turkish  1.359961e+05
28                 Austria               Slovene  8.499759e+04
29                 Austria                 Croat  1.699952e+05
..                     ...                   ...           ...
598          Guinea-Bissau               African  1.570758e+06
599           Sierra Leone                 Asian  5.751976e+04
600           Sierra Leone               African  5.694456e+06
601                 Uganda                Rwanda  2.091409e+06
602                 Uganda                  Arab  3.485681e+05
603                 Uganda               Baganda  5.925658e+06
604                 Uganda            Karamojong  4.182818e+06
605                 Uganda                Basogo  2.788545e+06
606                 Uganda                 Iteso  2.788545e+06
607                 Uganda                 Langi  2.091409e+06
608                 Uganda                Bagisu  1.742841e+06
609                 Uganda                Acholi  1.394273e+06
610                 Uganda               Lugbara  1.394273e+06
611                 Uganda               Bunyoro  1.045704e+06
612                 Uganda                Batobo  1.045704e+06
613                Lesotho                 Sotho  2.002894e+06
614             Mozambique              European  1.422043e+04
615             Mozambique                Indian  1.896057e+04
616             Mozambique          Euro-African  4.740143e+04
617              Mauritius                Creole  3.340146e+05
618              Mauritius        Indo-Mauritian  8.412219e+05
619              Mauritius        Sino-Mauritian  3.711273e+04
620              Mauritius      Franco-Mauritian  2.474182e+04
621              Swaziland              European  3.579444e+04
622              Swaziland               African  1.157354e+06
623           Saint Helena       African descent  2.831500e+03
624           Saint Helena                 White  1.415750e+03
625           Saint Helena               Chinese  1.415750e+03
626  Sao Tome and Principe              European  1.873560e+05
627             Seychelles           Seychellois  9.094500e+04

[628 rows x 3 columns]

In [181]:
# sum up the same ethnic groups in different countries
group_totals = groups_df.groupby('group').sum()

# sort 
sorted_group_totals = group_totals.sort_values('population', ascending=False)

# result
sorted_group_totals.head(10)

               population
group
Han Chinese  1.245059e+09
Indo-Aryan   8.718156e+08
European     4.948722e+08
African      3.183251e+08
Dravidian    3.027137e+08
Mestizo      1.577344e+08
Bengali      1.467769e+08
Russian      1.318570e+08
Japanese     1.265342e+08
Malay        1.219936e+08